
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Shop Around</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/wwwroot/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/wwwroot/css/ie6.css" type="text/css" media="all" />
    <script src="~/wwwroot/js/jquery-1.4.1.min.js" type="text/javascript"></script>
    <script src="~/wwwroot/js/jquery.jcarousel.pack.js" type="text/javascript"></script>
    <script src="~/wwwroot/js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
    <!-- Shell -->
    <div class="shell">
        <!-- Header -->
        <div id="header">
            <h1 id="logo"><a href="#">shoparound</a></h1>
            <!-- Cart -->
            <div id="cart">
                <a href="#" class="cart-link">Your Shopping Cart</a>
                <div class="cl">&nbsp;</div>
                <span>Articles: <strong>4</strong></span> &nbsp;&nbsp; <span>Cost: <strong>$250.99</strong></span>
            </div>
            <!-- End Cart -->
            <!-- Navigation -->
            @{ 
                Html.RenderPartial("_Menu");
            }
            <!-- End Navigation -->
        </div>
        <!-- End Header -->
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>
            <!-- Content -->
            <div id="content">
                @RenderBody()
            </div>
            <!-- End Content -->
            <!-- Sidebar -->
            @{ 
                Html.RenderPartial("_Sidebar");
            }
            <!-- End Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- End Main -->
        <!-- Side Full -->
        <div class="side-full">
            <!-- More Products -->
            <div class="more-products">
                <div class="more-products-holder">
                    <ul>
                        <li><a href="#"><img src="images/small1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small6.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small7.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small1.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small2.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small3.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small4.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small5.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="images/small6.jpg" alt="" /></a></li>
                        <li class="last"><a href="#"><img src="images/small7.jpg" alt="" /></a></li>
                    </ul>
                </div>
                <div class="more-nav"> <a href="#" class="prev">previous</a> <a href="#" class="next">next</a> </div>
            </div>
            <!-- End More Products -->
            <!-- Text Cols -->
            <div class="cols">
                <div class="cl">&nbsp;</div>
                <div class="col">
                    <h3 class="ico ico1">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="col">
                    <h3 class="ico ico2">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="col">
                    <h3 class="ico ico3">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="col col-last">
                    <h3 class="ico ico4">Donec imperdiet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet, metus ac cursus auctor, arcu felis ornare dui.</p>
                    <p class="more"><a href="#" class="bul">Lorem ipsum</a></p>
                </div>
                <div class="cl">&nbsp;</div>
            </div>
            <!-- End Text Cols -->
        </div>
        <!-- End Side Full -->
        <!-- Footer -->
        <div id="footer">
            <p class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </p>
            <p class="right"> &copy; 2010 Shop Around. Design by <a href="http://chocotemplates.com">Chocotemplates.com</a> </p>
        </div>
        <!-- End Footer -->
    </div>
    <!-- End Shell -->
    <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>
</html>


